/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */

.noMargin {
  margin: 0px;

}

.box{
  height:300px;
  width:300px;
  
}
.one {
  height:300px;
  width:300px;
  background-color:red;
  margin:0;
}

.two {
  background-color: yellow;
  height:300px;
  width:300px;
}

.three {
  background-color: green;
  height:300px;
  width:300px;
}

.four {
  /* background-color: blue; */
  height:300px;
  width:300px;
}